@import "tailwindcss";

body {
  background: #1d2735;
  color: #0486c9;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'consolas','Menlo', 'Monaco', 'Liberation Mono', 'Courier New', 'Microsoft YaHei', 'PingFang SC', 'PingFang TC','SimSun', 'STHeiti';
  font-size: 1.75rem;
}
