.view {
    margin: 2rem;
    display: flex;
    /* 垂直居中 */
    align-items: center;
    /* 给容器一个高度或最小高度，才能看到垂直居中效果 */
    min-height: 100px;
    /* 元素间距 */
    gap: 1rem;
}

.title {
    margin: 2rem 0rem 0rem 3rem;
    display: flex;
    /* 垂直居中 */
    align-items: center;
    /* 元素间距 */
    gap: 1rem;
}